from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class {{ class_name }}(Base):
    __tablename__ = '{{ class_name.lower() }}'

    id = Column(Integer, primary_key=True, autoincrement=True)
    {% for field, data_type in fields.items() %}
    {{ field }} = Column({{ data_type.capitalize() }})
    {% endfor %}
